<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Portada</title>
    {% endblock %}

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style type="{% static 'fonts/css'%}">
        p {
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        }
    </style>

    {% block navbar %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Programadores Chile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}" target="_blank">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contactenos</a>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" target="_blank">iniciar seccion</a>
                    <li class="nav-item">
                    </li>
                </ul>
    </header>
    {% endblock %}

          
    {% block formulario %}
    <div class="container col-lg-5">
        <br><br>
        <form name="formulario" method=""  onsubmit="return validar()">

            <div class="form-group">
                                        <!--campo tipo-->
                <label for="inputState">Tipo de consulta</label>
                <select id="inputState" class="form-control" placeholder="Tipo">
                  <option selected>consulta de proyecto</option>
                  <option>consulta proyecto</option>
                  <option>programacion</option>
                  <option>reparacion</option>
                  <option>mantencion</option>
                </select>
              </div>

            <div class="form-group">
                                        <!--campo asunto-->
                <input type="text" class="form-control" id="asunto" placeholder="asunto">
            </div>

            <div class="form-group">
                                        <!--campo nombre-->
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                
            </div>
                                        <!--campo rut-->
            <div class="form-group">
                <input type="text" class="form-control" id="rut" placeholder="Rut"required oninput="checkRut(this)" onkeypress="validar_num()"/>
            </div>
                                        <!--campo correo-->
            <div class="form-group">
                <input type="email" class="form-control" id="correo" placeholder="Correo">
                
            </div>
                                        <!--campo telefono-->
            <div class="form-group">
                <input type="text" class="form-control" id="telefono" placeholder="Telefono">
                
            </div>
                                        <!--campo consulta-->
            <div class="form-group">
                <input type="text" class="form-control" id="consulta" placeholder="Consulta" style="height: 200px" maxlength="500">
                
            </div>
            <script src="{% static 'js/validaciones.js'%}"></script>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    {% endblock %}
</head>

<body background="{%  static 'Img/fondo.jpg' %}">
    {% block class="fixed-bottom" %}
    <div class="fixed-bottom">


        </span> Santiago de Chile<span><br>
        </span>+569-983 4572 +562-7845291 <br>
        </span><a href="mailto:info@programadoreschile.cl">info@programadoreschile.cl</a>
    </div>
    {% endblock %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>


</body>

</html>